.site-footer {
    width: 100%;
    height: calc(var(--grid-cell-height) * 24.0);

    box-sizing: border-box;
    padding-top: calc(var(--grid-cell-height) * 3.0);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--grid-cell-width) * 3.0);
}