.ui-container {
  width: 100%;
  max-width: var(--bp-desktop);

  box-sizing: border-box;

  margin: 0 auto;
  padding-left: var(--ui-container-padding);
  padding-right: var(--ui-container-padding);
}
