.ui-container {
  position: relative;

  width: 100%;
  max-width: var(--bp-desktop);

  /* box-sizing: border-box; */

  margin: 0 auto;
  /* padding-left: var(--ui-container-padding);
  padding-right: var(--ui-container-padding); */

  z-index: var(--z-ui);
}
