.theme-switcher {
    position: absolute;
    left: 0;
    top: 0;

    width: calc(var(--grid-cell-width) * 6);
    height: calc(var(--grid-cell-height) * 6);

    transform: translate(-50%, -50%);
}

/* _________________________________________________________ Invisible Button */

.invisible-button {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;

    width: 100%;
    height: 100%;

    background: transparent;
    border: none;
    outline: none;

    border-radius: 50%;

    pointer-events: auto;
    cursor: pointer;
}

.invisible-button:focus-visible {
    outline: var(--border-thickness-thin) solid var(--colour-secondary);
    outline-offset: var(--outline-offset);
}

/* _____________________________________________________________________ Icon */


.icon {
    position: absolute;
    left: calc(var(--grid-cell-width) * 3);
    top: calc(var(--grid-cell-height) * 3);

    color: var(--colour-primary);

    z-index: 2;
}

/* ______________________________________________________________________ Sun */

.sun-icon {
    --sun-icon-x: -50%;
    --sun-icon-y: -39%;

    opacity: 0;

    transform: translate(var(--sun-icon-x), var(--sun-icon-y)) rotate(0deg);
    transform-origin: calc(var(--sun-icon-x) * -1) calc(var(--sun-icon-y) * -1);
    transition: var(--duration-slow) ease-out;
}

.sun-icon.active {
    opacity: 1;

    transform: translate(var(--sun-icon-x), var(--sun-icon-y)) rotate(180deg);
}

.sun-icon.hover {
    transform: translate(var(--sun-icon-x), var(--sun-icon-y)) rotate(-90deg);
}

/* _____________________________________________________________________ Moon */

.moon-icon {
    --moon-icon-x: -50%;
    --moon-icon-y: -40%;
    --moon-icon-y-offset: -42%;

    opacity: 0;

    transform: translate(var(--moon-icon-x), var(--moon-icon-y)) rotate(45deg);
    transform-origin: calc(var(--moon-icon-x) * -1) calc(var(--moon-icon-y) * -1);
    transition: var(--duration-quick) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.moon-icon.active {
    opacity: 1;

    transform: translate(var(--moon-icon-x), var(--moon-icon-y)) rotate(0deg);
}

.moon-icon.hover {
    transform: translate(var(--moon-icon-x), var(--moon-icon-y-offset)) rotate(-45deg);
}

/* _______________________________________________________________ Background */

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    box-sizing: border-box;
    width: calc(var(--grid-cell-width) * 6);
    height: calc(var(--grid-cell-height) * 6);

    border-radius: 50%;
    backdrop-filter: blur(var(--blur-strong));

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-blur::after {
    position: absolute;
    top: 0;
    left: 0;

    content: '';

    box-sizing: border-box;
    width: calc(var(--grid-cell-width) * 6);
    height: calc(var(--grid-cell-height) * 6);

    border-radius: 50%;

    background: var(--colour-blur);
}
