
.media-viewer {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  position: relative;
  overflow: hidden;
}

.media-item-holder {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}