.media-navigation {
  position: relative;

  width: 100%;
  height: calc(var(--grid-cell-height) * 6);

  box-sizing: border-box;
  padding-top: calc(var(--grid-cell-height) * 2);
  padding-right: calc(var(--grid-cell-width) * 3);

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  float: left;

  gap: calc(var(--grid-cell-width) * 1.0);
}

.navigation-dot {
  width: calc(var(--grid-cell-width) * 2.5);
  height: calc(var(--grid-cell-height) * 2.5);

  box-sizing: border-box;
  border-radius: 50%;

  background-color: var(--colour-background);
  color: var(--colour-text-primary);
  border: var(--border-thickness-thin) solid var(--colour-secondary);

  pointer-events: auto;
  cursor: pointer;

  padding: 0;

  transition: background-color var(--duration-quick) ease-out;
}



.navigation-dot--active {
  background-color: var(--colour-secondary);

  pointer-events: none;
  cursor: default;
}

.navigation-dot:focus-visible {
  outline: var(--border-thickness-thin) solid var(--colour-primary);
  outline-offset: var(--outline-offset);
}


/* __________________________________________________________________ Desktop */

@media (min-width: 768px) {
  .navigation-dot:hover {
    background-color: var(--colour-primary);
    border-color: var(--colour-primary);
  }
}
