.media-navigation {
  position: relative;

  width: 100%;
  height: calc(var(--grid-cell-height) * 7);

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;

  gap: calc(var(--grid-cell-width) * 1);
}

.navigation-dot {
  width: calc(var(--grid-cell-width) * 3);
  height: calc(var(--grid-cell-height) * 3);

  box-sizing: border-box;
  border-radius: 50%;

  background-color: var(--colour-background);
  color: var(--colour-text-primary);
  border: 0.18rem solid var(--colour-primary);

  pointer-events: auto;
  cursor: pointer;

  padding: 0;

  transition: background-color var(--transition-quick) ease-out;
}

.navigation-dot:hover {
  background-color: var(--colour-primary);
}

.navigation-dot--active {
  background-color: var(--colour-primary);
}

.navigation-dot:focus-visible {
  background-color: var(--colour-background);
}
