.media-navigation {
  width: 100%;
  height: calc(var(--grid-cell-height) * 5);

  display: flex;
  justify-content: center;
  align-items: center;

  gap: calc(var(--grid-cell-width) * 1);
}

.navigation-dot {
  width: calc(var(--grid-cell-width) * 2);
  height: calc(var(--grid-cell-height) * 2);

  border-radius: 50%;
  border: none;
  background-color: var(--colour-secondary);

  pointer-events: auto;
  cursor: pointer;

  padding: 0;
}

.navigation-dot:hover {
  background-color: var(--colour-primary);
}

.navigation-dot--active {
  background-color: var(--colour-primary);
}

.navigation-dot:focus-visible {
  outline: 2px solid var(--colour-primary);
  outline-offset: 2px;
}
