.button-text {
    color: var(--colour-text);
    pointer-events: auto;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.underline {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: currentColor;
    border-radius: 1px;
    pointer-events: none;
}