.button-text {
    position: relative;

    color: var(--colour-text);

    pointer-events: auto;
    cursor: pointer;

    text-decoration: none;
    
    display: inline-block;
}

.underline {
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 100%;
    height: 2px;
    
    background: currentColor;
    pointer-events: none;
}

.button-text:focus-visible {
    outline: var(--border-thickness-thin) solid var(--colour-primary);
    outline-offset: var(--outline-offset);
    z-index: 1;
}
