.ui-overlay {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: var(--bp-tablet);
    height: 100%;

    overflow: hidden;

    z-index: var(--z-overlay);
}