.ui-overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    max-width: var(--bp-desktop);
    height: 100%;

    margin: 0 auto;
    padding-left: var(--ui-container-padding);
    padding-right: var(--ui-container-padding);

    overflow: hidden;

    z-index: var(--z-overlay);
}