.site-project-text {
  width: 100%;

  box-sizing: border-box;
  padding-left: calc(var(--grid-cell-width) * 9.0);
  padding-right: calc(var(--grid-cell-width) * 3.0);
  padding-bottom: calc(var(--grid-cell-height) * 2.0);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--grid-cell-height) * 1.0);

  text-align: left;

  line-height: calc(var(--grid-cell-height) * 3.0);
}

/* ____________________________________________________________________ Title */

.row-title {
  width: 100%;
}

/* __________________________________________________________________ Details */

.row-details {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .row-details {
    flex-direction: row;
    gap: calc(var(--grid-cell-width) * 6.0);
  }
}

.company {
  color: var(--colour-text);

  box-sizing: border-box;
  padding-bottom: calc(var(--grid-cell-height) * 1.0);
}

.holder-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  box-sizing: border-box;
  padding-bottom: calc(var(--grid-cell-height) * 1.0);
}

.description {
  color: var(--colour-text);
}

/* ____________________________________________________________________ Links */

.row-links {
  width: 100%;
}
