.site-header {
    width: 100%;

    padding-top: calc(var(--grid-cell-height) * 9.0);
    padding-bottom: calc(var(--grid-cell-height) * 6.0);
}

.site-header .title {
    padding-left: calc(var(--grid-cell-width) * 9.0);
    padding-right: calc(var(--grid-cell-width) * 3.0);

    color: var(--colour-text);
}
