:root {
  /* Base Colors */
  --color-white: rgba(255, 255, 255, 1);
  --color-grey: rgba(128, 128, 128, 1);
  --color-black: rgba(0, 0, 0, 1);

  /* Light (Default) */
  --background: var(--color-white);
  --text: var(--color-black);
}

/* ____________________________________________________________________ Theme */

.theme-dark {
  /* Dark */
  --background: rgba(23, 21, 32, 1);
  --text: var(--color-white);
}
