/* ___________________________________________________ Font Face Declarations */

@font-face {
  font-family: 'MuseoModerno';
  src: url('/assets/font/museo-moderno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/font/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/assets/font/your-custom-font/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* ___________________________________________________________ Font Variables */

:root {
  --font-museo: 'MuseoModerno', system-ui, sans-serif;
  --font-inter: 'Inter', system-ui, sans-serif;
  --font-jost: 'Jost', system-ui, sans-serif;
  
  /* Body text styles */
  --font-inter-heading: var(--font-inter);
  --font-inter-content: var(--font-inter);
  
  /* Font weights */
  --font-weight-body-heading: 600;  
  --font-weight-body-content: 400;  
  --font-weight-body-light: 300;
}

/* ___________________________________________________________________ Header */

.font-header-title {
  font-family: var(--font-museo);
  font-weight: 600;
  font-size: 2.0rem; /* 32px */
}

/* _____________________________________________________________________ Body */

.font-body-heading {
  font-family: var(--font-museo);
  font-weight: 400;
  font-size: 1.0rem; /* 18px */
}

.font-body-content {
  font-family: var(--font-museo);
  font-weight: 400;
  font-size: 1.0rem; /* 16px */
}

.font-body-link {
  font-family: var(--font-museo);
  font-weight: 400;
  font-size: 1.0rem; /* 32px */
}
