/* ___________________________________________________ Font Face Declarations */

@font-face {
  font-family: 'MuseoModerno';
  src: url('/assets/font/museo-moderno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/assets/font/jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* ___________________________________________________________ Font Variables */

:root {
  --font-museo: 'MuseoModerno', system-ui, sans-serif;
  --font-jost: 'Jost', system-ui, sans-serif;
  
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --font-size-header: 2.0rem;

  --font-size-heading: 1.5rem;
  --font-size-body: 1.0rem;
}

/* ___________________________________________________________________ Header */

.font-header-title {
  font-family: var(--font-museo);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-header);
  letter-spacing: 0.0em;
}

/* _____________________________________________________________________ Body */

.font-body-heading {
  font-family: var(--font-jost);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-heading);
  letter-spacing: 0.02em;
}

.font-body-subtitle {
  font-family: var(--font-jost);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body);
  letter-spacing: 0.02em;
}

.font-body-content {
  font-family: var(--font-jost);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  letter-spacing: 0.02em;
}

.font-body-link {
  font-family: var(--font-jost);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  letter-spacing: 0.02em;
}
