:root {
  --transition-quick: var(--duration-quick);
  --transition-slow: var(--duration-slow);

  transition-property: background-color, color;
  transition-duration: var(--transition-slow);
  transition-timing-function: ease;
}

/* TODO Ensure Durations are matched to Framer Motion */
:root {
    --duration-slow: 2.6s;
    --duration-quick: 0.2s;
}


* {
  transition-property: background-color, color, border-color, fill, stroke;
  transition-duration: var(--transition-slow);
  transition-timing-function: ease;
}

/* _____________________________________________________________________ Util */

.transition-quick {
  transition-duration: var(--transition-quick) !important;
}

.transition-slow {
  transition-duration: var(--transition-slow) !important;
}

.transition-none {
  transition: none !important;
}
