:root {
  /* TODO Ensure Durations are matched to Framer Motion */
  --duration-slow: 0.6s;
  --duration-quick: 0.2s;
}

/* Global Background and Colour Transitions */

* {
  transition-property: background-color, color, border-color, fill, stroke;
  transition-duration: var(--duration-slow);
  transition-timing-function: ease;
}
