.site-project {
    width: 100%;

    border-radius: var(--border-radius-small);

    box-sizing: border-box;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    margin-bottom: calc(var(--grid-cell-height) * 10.0);
}


/* __________________________________________________________________ Desktop */

@media (min-width: 768px) {
  .site-project {
    padding-left: calc(var(--grid-cell-width) * 4.0);
    padding-right: calc(var(--grid-cell-width) * 4.0);
  }
}
